In [4]:
#Importing Necessary Libraries
import pandas as pd
import numpy as np

In [ ]:
# Replace the path with the location of your dataset file
df = pd.read_csv(r"C:\Users\monik\Downloads\pcos_rotterdam_balanceado.csv")

# Preview the first few rows
print(df.head())

   Age   BMI  Menstrual_Irregularity  Testosterone_Level(ng/dL)  \
0   29  21.2                       0                       46.1
1   20  20.5                       0                       59.4
2   23  23.1                       0                       69.3
3   19  32.7                       1                       77.7
4   19  25.9                       0                       49.4

   Antral_Follicle_Count  PCOS_Diagnosis
0                      9               0
1                      6               0
2                     10               0
3                     37               1
4                      5               0

In [6]:
# Check for missing values in the dataset
print(df.isnull().sum())

Age                          0
BMI                          0
Menstrual_Irregularity       0
Testosterone_Level(ng/dL)    0
Antral_Follicle_Count        0
PCOS_Diagnosis               0
dtype: int64

In [ ]:
# Get a summary of the dataset: column types, non-null counts, etc.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        3000 non-null   int64
 1   BMI                        3000 non-null   float64
 2   Menstrual_Irregularity     3000 non-null   int64
 3   Testosterone_Level(ng/dL)  3000 non-null   float64
 4   Antral_Follicle_Count      3000 non-null   int64
 5   PCOS_Diagnosis             3000 non-null   int64
dtypes: float64(2), int64(4)
memory usage: 140.8 KB
None

In [8]:
# Get summary statistics for numerical columns
print(df.describe())

               Age          BMI  Menstrual_Irregularity  \
count  3000.000000  3000.000000             3000.000000
mean     30.052667    23.646000                0.289333
std       7.549982     4.510006                0.453529
min      18.000000     8.500000                0.000000
25%      24.000000    20.800000                0.000000
50%      30.000000    23.400000                0.000000
75%      36.000000    26.300000                1.000000
max      44.000000    44.700000                1.000000

       Testosterone_Level(ng/dL)  Antral_Follicle_Count  PCOS_Diagnosis
count                3000.000000            3000.000000     3000.000000
mean                   57.228267              10.732333        0.200000
std                    18.171066               8.471478        0.400067
min                    20.500000               3.000000        0.000000
25%                    45.200000               5.000000        0.000000
50%                    53.200000               8.000000        0.000000
75%                    64.100000              11.000000        0.000000
max                   136.400000              39.000000        1.000000

In [ ]:
# Filling missing numerical values with the column mean
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [ ]:
# Dropping columns with more than 50% missing data
df = df.dropna(thresh=len(df) * 0.5, axis=1)

In [ ]:
# One-hot encoding for categorical columns
df = pd.get_dummies(df, drop_first=True)

In [ ]:
# Group by 'Category' and calculate the mean sales
grouped_data = df.groupby('PCOS_Diagnosis')['BMI'].mean()

# Display the result
print(grouped_data)

PCOS_Diagnosis
0    22.994542
1    26.251833
Name: BMI, dtype: float64

In [ ]:
#Save the Cleaned Data
df.to_csv('cleaned_data.csv', index=False)